# Virtual environments
.venv/
venv/
.venv312/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment file
.env

# Logs
logs/
*.log

# VS Code
.vscode/

# Power BI temp/cache
*.tmp

airflow/logs/
airflow/*.db